html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 25px;
  padding: 25px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1, 5;
  background-color: gray;
  color: #222;
}
img {
  vertical-align: middle;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1250px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  padding: 20px;
}
form_1 {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.input_1 {
  width: 90%;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 24px;
  border: 0;
}
.input-text {
  margin: 25px;
  margin-bottom: 12px;
  color: black;
}
.btn {
  padding: 0;
  border: 0;
  width: 100px;
  height: 48px;
  border-radius: 25px;
  background-color: azure;
  color: #000;
}
